[defaults]
inventory = ansible/inventories/dev/hosts.yml
remote_user = ec2-user
private_key_file = ~/.ssh/igreja-dev-key.pem
interpreter_python = auto_silent
host_key_checking = False
retry_files_enabled = False
